:root{
  --first-background:#0D2230;
  --second-background:#BFAFAA;

  --first-color-text:#F9F8F7;
  --second-color-text:#2E2F2C;
  
  --first-detail-txt:#051D4E;
  --second-detail-txt:#8A7F60;

  --button-color:#7B735D;
}